---
layout: page
hide_subdirindex: true
---
<style>
h1{
background: linear-gradient(90deg, #2c7bb6,#00a6ca,#00ccbc,#90eb9d,#f9d057,#f29e2e, #e76818,#d7191c);
}
</style>
<div class="dirindex">
  <h2>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ page.url | remove_first:'/index.html' | remove_first:'/' | replace:'/',' &mdash; ' | capitalize }}
    {% endif %}
  </h2>

  {% if content != '' %}
  <p class="preamble">
    {{ content }}
  </p>
  {% endif %}

  {% capture url_prefix %}{{ page.url | remove_first:'index.html' }}{% endcapture %}
  {% capture key_prefix %}:{{url_prefix}}{% endcapture %}
  <ul class="pages">
  {% for subpage in site.pages %}
    {% capture subpage_key %}:{{ subpage.url }}{% endcapture %}
    {% if subpage_key contains key_prefix and subpage.url != page.url %}
      {% if page.hide_subdirindex != true or subpage.title %}
      <li>
        <a href="{{ subpage.url | remove_first:'index.html' }}">
        {% if subpage.title %}
          {{ subpage.title }}
        {% else %}
          {{ subpage.url | remove_first:url_prefix | remove_first:'index.html' }}
        {% endif %}</a>
      </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84468677-1', 'auto');
  ga('send', 'pageview');

</script>
